root {
    --primary-color: #333;
    --accent-color: #394a5b;
    --bg-white: #ffffff;
    --main-padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 640px;
}

aside {
    width: 20rem;
    text-align: left;
    position: relative;

}

aside img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #363333;
    padding: 5px;

}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 3rem;
    color: #121111;
    background-color: rgba(199, 193, 193, 0.6);
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 0;

}

main img {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    float: right;
}

p {
    padding: 0;
    color: #000;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: #d4dfe4;
    padding: 10px;
}

nav a {
    color: #342ba8;
    /* Use your preferred link color */
    padding: 10px 15px;
    display: block;
}

h1 {
    color: #000;

}

/* Class Selectors */
.box {
    clear: both;
    border: 1px solid #b71234;
    padding: 1rem;
    margin: 1rem;
    background-color: #cccaca;
    color: #fff;
}